/*
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Microsoft.css");
@import url("https://discord-modifications.github.io/discord-revamp/src/source.css");
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css");

* {
  font-family: 'Fira Code' !important;
}
*/
* {
    --brand-experiment: #7289da;
    --background-modifier-selected: transparent;
    --font-display: var(--font-primary);
}
.theme-dark {
    --chat-box-border-color: #646973;
    --chat-box-bg-color: #424549;
    --divider-color: #3e4146;
    --divider-color-secondary: #313338;
}
.theme-light {
    --chat-box-border-color: #dadddf;
    --chat-box-bg-color: white;
    --divider-color: var(--chat-box-border-color);
    --divider-color-secondary: transparent;
}

.scrollableContainer-2NUZem {
    background-color: transparent;
}

.channelTextArea-rNsIhG, .channelTextArea-2VhZ6z {
    border: 2px solid var(--chat-box-border-color);
    border-radius: 3px;
    background-color: var(--chat-box-bg-color);
}
.channelTextArea-2VhZ6z:not(.channelTextArea-rNsIhG):not(.channelTextAreaDisabled-8rmlrp) {
    padding-left: 10px;
}
.channelTextArea-2VhZ6z.channelTextAreaDisabled-8rmlrp > div > div {
    padding-left: 0;
}

.attachButton-2dnuIu {
    padding: 10px;
    border-radius: 0;
    margin-right: 10px;
}

.textArea-12jD-V:not(.textAreaDisabled-3-Eq_G) {
    border-left: 1px solid var(--chat-box-border-color);
    margin-left: -10px;
}

.textArea-12jD-V > div {
    padding-left: 10px;
}

.stickerPreviewDivider-2DeHm0 {
    margin: 0;
}

.clipContainer-eeROt0 {
    padding: 0
}

.title-29uC1r.base-1x0h_U.size16-1P40sf {
    font-size: 1.25em;
    font-weight: bolder;
    text-shadow: 1px 0 #ffffffdd;
    margin-left: -4px;
    overflow: visible;
}

.offline-3nJYBR .name-uJV0GL {
    font-weight: lighter;
}

.container-3baos1 .directionRow-3v3tfG svg path, 
.iconWrapper-2OrFZ1 svg path, 
.container-1giJp5 .directionRow-3v3tfG.alignStretch-DpGPf3 svg path,
.actionButtons-14eAc_ button svg path {
    stroke-width: 1px;
    stroke: #6e7175;
    fill: #00000001;
}
.actionButtons-14eAc_ button {
    background-color: #2e3136!important;
    border: 1px solid var(--background-floating);
    color: #6e7175!important;
}

.container-3baos1 {
    padding: 10px;
}

.container-3baos1 .directionRow-3v3tfG, .container-1giJp5 .directionRow-3v3tfG.alignStretch-DpGPf3 {
    border: 1px solid var(--background-floating);
    border-radius: 3px;
}

button.button-14-BFJ {
    border-radius: 0;
}
button.button-14-BFJ:not(:last-child) {
    border-right: 1px solid var(--background-floating);
}
button.button-14-BFJ:not(:first-child) {
    border-left: 1px solid #373b42;
}
button.button-14-BFJ {
    border-bottom: 1px solid #282b30;
}

.tile-2naSqK, .border-3dQmSY, .wrapper-39oAo3 {
    border-radius: 3px;
}

.gifTag-31zFY8 {
    filter: invert(1);
    border: 3px solid white;
    border-radius: 3px;
    height: 18px;
    background-position: center; 
}

.messageContent-2qWWxC {
    margin-left: 0px!important;
    padding-left: 0px!important;
    border-radius: 3px;
}
.mentioned-xhSam7 .contents-2mQqc9 .messageContent-2qWWxC {
    margin-left: -8px!important;
    padding-left: 4px!important;
    background-color: var(--background-mentioned);
    border-left: 4px solid var(--info-warning-foreground);

}

.embedVideoActions-O6vR7W .wrapper-129saQ {
    border-radius: 6px;
    padding: 6px;
}
.wrapper-129saQ svg * {
    stroke-width: 1.5px;
    stroke: #ffffff;
    fill: #00000001;
}
.wrapper-129saQ svg {
    height: 36px;
    width: 36px;
}
.wrapper-129saQ > *:not(:last-child) {
    margin-right: 8px;
}

.embedWrapper-lXpS3L {
    background: transparent;
    border-radius: 0
}
.embedWrapper-lXpS3L > div > *:not(.embedSuppressButton-1FonMn) {
    margin-top: 0;
    line-height: 17px;
}
:not(.imageWrapper-2p5ogY) > div > .embedMedia-1guQoW {
    margin-top: 12px!important;
}
.embedProvider-3k5pfl {
    font-size: 0.7em;
}

.containerDefault--pIXnN a[href*="/channels/"] .icon-1DeIlz, .title-3qD0b- .children-19S4PO .icon-22AiRD {
    transform: scale(-0.6, -0.8);
    margin-right: -7px;
}
/* this CSS reverts all text channel icons */
.containerDefault--pIXnN a[href*="/channels/"] .icon-1DeIlz path, .title-3qD0b- .children-19S4PO .icon-22AiRD path {
    d: path('M5.88657 21C5.57547 21 5.3399 20.7189 5.39427 20.4126L6.00001 17H2.59511C2.28449 17 2.04905 16.7198 2.10259 16.4138L2.27759 15.4138C2.31946 15.1746 2.52722 15 2.77011 15H6.35001L7.41001 9H4.00511C3.69449 9 3.45905 8.71977 3.51259 8.41381L3.68759 7.41381C3.72946 7.17456 3.93722 7 4.18011 7H7.76001L8.39677 3.41262C8.43914 3.17391 8.64664 3 8.88907 3H9.87344C10.1845 3 10.4201 3.28107 10.3657 3.58738L9.76001 7H15.76L16.3968 3.41262C16.4391 3.17391 16.6466 3 16.8891 3H17.8734C18.1845 3 18.4201 3.28107 18.3657 3.58738L17.76 7H21.1649C21.4755 7 21.711 7.28023 21.6574 7.58619L21.4824 8.58619C21.4406 8.82544 21.2328 9 20.9899 9H17.41L16.35 15H19.7549C20.0655 15 20.301 15.2802 20.2474 15.5862L20.0724 16.5862C20.0306 16.8254 19.8228 17 19.5799 17H16L15.3632 20.5874C15.3209 20.8261 15.1134 21 14.8709 21H13.8866C13.5755 21 13.3399 20.7189 13.3943 20.4126L14 17H8.00001L7.36325 20.5874C7.32088 20.8261 7.11337 21 6.87094 21H5.88657ZM9.41045 9L8.35045 15H14.3504L15.4104 9H9.41045Z')!important;
}
.containerDefault--pIXnN a[href*="/channels/"] .icon-1DeIlz path[d='M33 34.5833V7.49998H35V36.6666H9C6.791 36.6666 5 34.801 5 32.5V7.49998C5 5.19894 6.791 3.33331 9 3.33331H31V30.4166H9C7.8955 30.4166 7 31.3485 7 32.5C7 33.6515 7.8955 34.5833 9 34.5833H33ZM23.9718 9.99998L15.8889 17.9915L12.7086 14.8441L10 17.5058L15.8885 23.3333L26.6667 12.6669L23.9718 9.99998Z'], .title-3qD0b- .children-19S4PO .icon-22AiRD path[d='M33 34.5833V7.49998H35V36.6666H9C6.791 36.6666 5 34.801 5 32.5V7.49998C5 5.19894 6.791 3.33331 9 3.33331H31V30.4166H9C7.8955 30.4166 7 31.3485 7 32.5C7 33.6515 7.8955 34.5833 9 34.5833H33ZM23.9718 9.99998L15.8889 17.9915L12.7086 14.8441L10 17.5058L15.8885 23.3333L26.6667 12.6669L23.9718 9.99998Z'] {
    transform: scale(1.625, 1.67);
}
/* end text channel icon reversion */
.containerDefault--pIXnN a:not([href*="/channels/"]) .icon-1DeIlz {
    transform: scale(0.8);
    margin-right: -7px;
}

.attachedBars-tZDmyV {
    border-radius: 3px;
    margin-top: 3px;
    background: transparent;
    border-bottom: 1px solid var(--chat-box-border-color);
}

.attachedBars-tZDmyV div {
    background: transparent;
}

nav.wrapper-3NnKdC.guilds-1SWlCJ {
    width: 78px;
}

.wrapper-25eVIn, .guildSeparator-33mFX6 {
    margin-left: 5px;
}
.expandedFolderBackground-1cujaW {
    margin-left: 3px;
}

.guildSeparator-33mFX6 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.labelContainer-1BLJti {
    min-height: 0;
    padding: 4px 12px;
    padding-right: 2px;
}
.scroller-3BxosC {
    padding: 4px 0;
}
.separator-2I32lJ {
    margin: 4px 0;
}
.menu-3sdvDG {
    background-color: var(--background-secondary-alt);
}

.channel-2QD9_O {
    margin-left: 0;
    border-radius: 0;
}

.unread-2lAfLh {
    background-color: white;
    height: 12px!important;
    margin-top: -5px;
    transition: height 0.1s;
    width: 12px;
    border-radius: 50%;
    margin-left: -6px;
}
.wrapper-sa6paO > .item-2hkk8m {
    background-color: #7c8389;
    height: 12px!important;
    transition: height 0.1s;
    width: 12px;
    border-radius: 50%;
    margin-left: -6px;
}
.wrapper-sa6paO > .item-2hkk8m[style*="height: 40px"] {
    background-color: white;
    height: 40px!important;
    border-radius: 8px;

}
.content-1x5b-n {
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
}
.modeUnread-1qO3K1 {

}
.modeSelected-346R90, .selected-aXhQR6 {
    border-left: 4px solid var(--brand-experiment);
    background: #282b30;
    background: linear-gradient(90deg, rgba(40,43,48,1) 0%, rgba(40,43,48,1) 70%, rgba(40,43,48,0) 100%);
}
.members-1998pB .content-3YMskv {
    padding: 0 14px;
}
.message-2qnXI6.groupStart-23k01U:before {
    display: block;
    width: 150%;
    margin-top: 0;
    margin-bottom: 18px;
    margin-left: -60px;
    height: 1px;
    background-color: var(--divider-color);
    content: "";
    position: initial;
}
.message-2qnXI6.groupStart-23k01U {
    background-color: var(--background-primary)!important;
}
.replying-1x3H0T {
    background-color: transparent;  
}
.replying-1x3H0T:after {
    content: "REPLYING";
    font-size: 0.8em;
    color: var(--brand-experiment);
}
.emojiSection-3Fb9ix button {
    display: none;
}
.backgroundFlash-24qWLN {
    
}
.form-2fGMdU {
    min-height: 77px;
    padding-top: 20px;
    position: initial;
    border-top: 1px solid var(--divider-color);
    margin-top: 0px;
}

.messagesWrapper-1sRNjr {
    border-bottom: 1px solid var(--divider-color-secondary);
}
.username-1A8OIy {
    font-size: 1.05em;
}

.container-3baos1, .container-1giJp5 {
    padding: 10px;
    border-top: 1px solid #1c1e22;
}
.container-1giJp5 {
    border-bottom: none;
}

button.button-14-BFJ {
    border-radius: 0;
    background-color: #2e3136;
}

.usernameContainer-1fp4nu div {
    font-weight: 450;
}

.size12-3cLvbJ.subtext-3CDbHg {
    display: none;
}

.message-2qnXI6.cozyMessage-3V1Y8y {
    padding-left: 80px;
}

.scrollerSpacer-avRLaA {
    height: 18px;
}

.avatar-1BDn8e {
    left: 20px;
    margin-top: 0px;
}

.mainContent-u_9PKf {
    padding-left: 5px;
}
.modeSelected-346R90 .mainContent-u_9PKf {
    padding-left: 1px;
}

.channelName-2YrOjO {
    font-size: 0.925em;
}
.containerDefault-3tr_sE {
    padding-left: 13px;
}

.panels-j1Uci_:after {
    height: 24px;
    width: 100%;
    display: block;
    content: "Support • Change Log • Download Apps";
    border-top: 1px solid #2e3136;
    color: #5b5d63;
    font-size: 10.5px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.message-2qnXI6 {
    --background-message-hover: transparent;
}

.tooltip-2QfLtc {
    background-color: var(--brand-experiment)!important;
    border-radius: 3px;
}
.tooltipPointer-3ZfirK {
    border-top-color: var(--brand-experiment)!important;
}
.tooltipContent-bqVLWK {
    padding: 4px 9px;
    font-size: 0.9em;
    font-weight: 550;
    color: white;
}
.layers-3iHuyZ > .layer-3QrUeG:nth-child(1) {
    opacity: 1!important;
    transform: none!important;
}
.layers-3iHuyZ > .layer-3QrUeG:nth-child(2)::before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    transition: opacity 200ms ease;
    content: "";
}
.layers-3iHuyZ > .layer-3QrUeG:nth-child(2) {
    border-radius: 10px;
    width: 85%;
    height: 85%;
    top: calc(15% / 2);
    left: calc(15% / 2);
}

.botTag-3W9SuW {
    padding: 0 2px!important;
}

.popoutContainer-1MXdqN, .popout-APcvZm {
    box-shadow: var(--elevation-high);
    border-radius: 3px;
    background-color: var(--background-secondary)
}
.divider-3_HH5L.beforeGroup-1rH1F0 {
    top: 19px!important;
    position: relative;
}

.lowerBadge-29hYVK, .mentionsBadge-3tC7Mi {
    display: inline-block;
    border-radius: 3px;
    background-clip: padding-box;
    background-color: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    -webkit-box-shadow: 0 1px 0 rgb(0 0 0 / 25%), inset 0 1px 0 hsl(0deg 0% 100% / 15%);
    box-shadow: 0 1px 0 rgb(0 0 0 / 25%), inset 0 1px 0 hsl(0deg 0% 100% / 15%);
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    padding: 1px 0px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 25%);
    text-transform: uppercase;
}
.wrapper-25eVIn use[href*="lower_badge_masks"] {
    fill: transparent;
}

.searchBar-3dMhjb {
    padding: 2px 4px;
    height: 28px;
}
.theme-dark .searchBar-3dMhjb {
    background-color: #4a4c52;
}

.searchBar-3dMhjb {
    padding: 2px 4px;
    height: 28px;
}
.theme-dark .searchBar-3dMhjb {
    background-color: #4a4c52;
}

.avatar-3uk_u9 rect:not([mask*="-mobile"]):not([mask*="-typing"]) {
    x: 24;
    y: 24;
}
.avatar-3uk_u9 svg {
    overflow: visible;
}
#svg-mask-avatar-status-round-32 circle:nth-child(2) {
    r: 0.21;
    cx: 0.9;
    cy: 0.9;
}
#svg-mask-avatar-status-round-80 circle:nth-child(2) {
    r: 0.13;
    cx: 0.85;
    cy: 0.85;
}
#svg-mask-avatar-status-round-120 circle:nth-child(2) {
    r: 0.13;
    cx: 0.835;
    cy: 0.835;
}

#svg-mask-avatar-status-mobile-32 rect {
    x: 63%;
    y: 48%;
}
#svg-mask-avatar-status-mobile-80 rect {
    x: 72%;
    y: 62%;
    rx: 6%;
    ry: 7%;
}
#svg-mask-avatar-status-mobile-120 rect {
    x: 71%;
    y: 61%;
    rx: 6%;
    ry: 7%;
}

.akaBadge-1M-1Gw {
    border-radius: 3px;
    padding: 0px 2px;
    background-color: #72767d;
    color: white;
}

.attachButtonInner-PQjIyk svg path {
    height: 44px;
    width: 44px;
    d: path('M 6.09375 4.917969 L 6 5.011719 L 6.003906 10.269531 L 6.011719 15.527344 L 6.144531 15.660156 L 8.6875 15.660156 L 8.753906 15.59375 C 8.847656 15.496094 8.847656 15.316406 8.753906 15.222656 L 8.6875 15.15625 L 7.621094 15.148438 L 6.550781 15.140625 L 6.550781 5.375 L 17.449219 5.375 L 17.449219 15.144531 L 16.347656 15.148438 L 15.242188 15.15625 L 15.183594 15.214844 C 15.105469 15.285156 15.082031 15.402344 15.121094 15.515625 C 15.171875 15.675781 15.15625 15.675781 16.585938 15.667969 L 17.855469 15.660156 L 17.988281 15.527344 L 17.988281 5.023438 L 17.914062 4.9375 C 17.875 4.890625 17.824219 4.847656 17.796875 4.839844 C 17.769531 4.832031 15.148438 4.824219 11.96875 4.824219 L 6.1875 4.824219 L 6.09375 4.917969 M 11.890625 8.496094 C 11.867188 8.507812 11.375 8.988281 10.800781 9.5625 L 9.757812 10.609375 L 9.757812 10.726562 C 9.757812 10.921875 9.941406 11.046875 10.121094 10.96875 C 10.15625 10.953125 10.535156 10.597656 10.957031 10.175781 L 11.722656 9.40625 L 11.734375 14.203125 L 11.746094 18.996094 L 11.808594 19.074219 C 11.917969 19.210938 12.0625 19.214844 12.195312 19.082031 L 12.289062 18.988281 L 12.289062 9.394531 L 13.96875 11.074219 L 14.085938 11.074219 C 14.261719 11.074219 14.339844 10.992188 14.339844 10.8125 L 14.339844 10.679688 L 13.246094 9.585938 C 12.054688 8.394531 12.074219 8.410156 11.890625 8.496094');
    fill: var(--chat-box-border-color);
}
.attachButton-2WznTc svg {
    height: 44px;
    width: 44px;
    margin: 0;
}
.attachButton-2WznTc {
    padding: 0;
}
.attachButtonInner-PQjIyk {
    height: 44px;
    width: 44px;
}
.container-1r6BKw, .header-2V-4Sw {
    height: 54px;
}
.header-2V-4Sw {
    padding: 25px
}

.headerTop-3vNv-a {
	background-color: var(--background-tertiary);
}
.body-3HBlXn, .footer-3UKYOU, .body-3HBlXn > * {
	background-color: var(--background-secondary);
}
.body-3HBlXn {
    box-shadow: none;
}
.nickname-3M3Jfa.base-1x0h_U.size20-17Iy80, .nameTag-m8r81H {
   font-size: 16px; 
}/*
.customStatus-oN4ZZY {
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: -10px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 10px;
    width: 250px!important;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: var(--background-tertiary);
}*/
.customStatus-oN4ZZY:before {
    content: "CUSTOM STATUS";
    display: block;
    font-size: 12px;
    font-weight: 700;
    color: var(--header-secondary);
    padding-top: 15px;
}
.divider-ewBQKj {
    background-color: transparent!important;
}
.avatar-37jOim {
	border: 6px solid var(--background-tertiary);
}
.avatarWrapperNormal-26WQIb {
	left: 78px;
	top: 15px;
}
.avatarPositionPremium-3We5Ho {
	top: 95px;
}
.headerText-1vVs-U {
	text-align: center;
}
.userPopout-xaxa6l {
	width: 250px!important;
}
.userPopout-xaxa6l .markup-2BOw-j code {
    background-color: var(--background-tertiary);
}
.banner-2QYc2d:not(.bannerPremium-2hSAwz) {
    background-color: var(--background-tertiary)!important;
    height: 45px;
}
.aboutMeBody-3GuvKk {
    margin-left: -10px;
    width: 240px;
    font-size: 0.85em!important;
}


/* this changes invite embeds */
.wrapper-35wsBm {
    border: 1px solid var(--background-secondary-alt);
    padding: 8px
}
.wrapper-35wsBm > h5, .guildIcon-lQ0uiM {
    display: none
}
.wrapper-35wsBm .content-2U5lSY button {
    margin-left: 0;
    margin-right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: transparent;
    background-size: 100% 100%!important;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNS4yIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cGF0aCBkPSJNNy40LDExLjE3LDQsOC42Miw1LDcuMjZsMiwxLjUzTDEwLjY0LDRsMS4zNiwxWiIgZmlsbD0id2hpdGUiPjwvcGF0aD48L3N2Zz4K)!important;
    order: -1;
}
.guildNameWrapper-1RQYer:before {
    content: "join";
    margin-right: 8px;
}


/* this changes the quick action row */


.buttonContainer-DHceWr {
    top: 20px;
    background: transparent;
    transform: scale(0.8);
}
.groupStart-23k01U .buttonContainer-DHceWr {
    top: 55px;
}
.hasReply-34In-r .buttonContainer-DHceWr {
    top: 79px;
}
.wrapper-2aW0bm {
    background: transparent;
    box-shadow: initial!important;
}
.wrapper-2aW0bm .button-1ZiXG9 {
    background: transparent!important;
}
.wrapper-2aW0bm .button-1ZiXG9 svg * {
    stroke-width: 1.25px;
    stroke: #6e7175;
    fill: #00000001;
}
.platform-win .typeWindows-1za-n7 {
  height: 9px;
  margin-top: 0;
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  background: transparent;
}
.platform-win .winButtonClose-1HsbF- {
  border-top-right-radius: var(--TB-tr-roundness);
}
.platform-win .winButton-iRh8-Z {
  position: relative;
  top: calc(var(--TB-position-top, 0px) - 1px);
  right: var(--TB-position-right, 0px);
  height: var(--TB-height, 48px);
  width: var(--TB-width, 40px);
}
.platform-win .winButton-iRh8-Z:not(.winButtonClose-1HsbF-):hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.platform-win .container-1r6BKw {
  padding-right: var(--TB-header-padding, 125px);
}
.platform-win .wordmarkWindows-1v0lYD {
  display: none;
}
.platform-win #app-mount.bd-detached-editor .winButton-iRh8-Z {
  right: 30%;
}



/* the removing part comes here; remove this at the end of the line to keep them -> */


.toolbar-1t6TWx .iconWrapper-2OrFZ1:not([aria-label*="ute channel"]):not([aria-label*="Pinned"]), .buttons-3JBrkn {display: none;}
rect.pointerEvents-2zdfdO:not([mask*="-mobile"]):not([mask*="-typing"]), .status-1XNdyw rect {
    mask: url(#svg-mask-status-online);
}
.status-1XNdyw {
    transform: scaleY(0.7);
    top: 1px;
    position: relative;
    mask: url(#svg-mask-status-online);
}
