@import url("https://mr-miner1.github.io/Better-Badges/src/badges.css");
@import url("https://nyri4.github.io/Discolored/main.css");
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css");
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css");
@import url("https://discord-modifications.github.io/dark-discord/src/source.css");
