@import url("https://nyri4.github.io/Discolored/main.css");
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css");
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css");
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  --accentcolor: 114,137,218;
  --accentcolor2: 255,115,250;
  --linkcolor: 0,176,244;
  --mentioncolor: 250,166,26;
  --textbrightest: 255,255,255;
  --textbrighter: 222,222,222;
  --textbright: 185,185,185;
  --textdark: 140,140,140;
  --textdarker: 115,115,115;
  --textdarkest: 80,80,80;
  --font: "Fira Code";
  --backgroundaccent: 0,0,0;
  --backgroundprimary: 0,0,0;
  --backgroundsecondary: 0,0,0;
  --backgroundsecondaryalt: 0,0,0;
  --backgroundtertiary: 0,0,0;
  --backgroundfloating: 0,0,0;
  --settingsicons: 1;
}

.guildSeparator-a4uisj, *[aria-label="Download Apps"], .notice-2HEN-u, *[aria-label=":rancid:"] {
  display: none;
}
