@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Microsoft.css");
@import url("https://discord-modifications.github.io/discord-revamp/src/source.css");
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css");

* {
  font-family: 'Fira Code' !important;
}
