@import "https://discord-modifications.github.io/dark-discord/src/source.css";
@import "https://comfy-themes.github.io/Discord/betterdiscord/main.css";
@import "https://comfy-themes.github.io/Discord/betterdiscord/no-scrollbar.css";
@import "https://comfy-themes.github.io/Discord/betterdiscord/better-spotify.css";
@import "https://mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css";
@import "https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css";
@import "https://discord-modifications.github.io/modern-indicators/src/source.css";
:root {
    --status-background: url("https://discord-theme.pages.dev/assets/img.jpg");
    --user-buttons-spacing: 8px;
    --user-buttons-color: #096dc0;
    --avatar-radius: 5px;
    --status-radius: 3px;
    --server-radius: 8px;
    --colored-emoji: grayscale(0%);
    --mention-color: #f04747;
    --unread-color: #7289da;
    --mention-color-bar: #c66262;
    --mention-color-background: #c662621f;
    --mention-color-hover: #c6626226;
    --chat-buttons: #7289da;
    --spotify-color: #1edc62;
    --online: #43b581;
    --iddle: #faa61a;
    --dnd: #f04747;
    --offline: #747f8d;
    --streaming: #593695;
    --playing: #7289da;
    --listening: #1db653;
    --role-circle: 5px;
    --discord-logo: none;
	--settingsmodalbackground: transparent;
	--settingsmodalwidth: 960px;
	--settingsmodalheight: 80vh;
}
.theme-dark {
    --background-primary: #23283d;
    --background-secondary: #1e2233;
    --background-secondary-alt: #191f2e;
    --background-tertiary: #101320;
    --background-mobile-primary: #23283d;
    --background-mobile-secondary: #1e2233;
    --channeltextarea-background: #191f2e;
    --background-accent: #7289da;
    --background-message-hover: transparent;
    --background-modifier-hover: #00000010;
    --background-modifier-active: #0000001a;
    --background-modifier-selected: #0000001f;
    --deprecated-card-bg: #12141f63;
    --background-floating: #101320;
    --deprecated-quickswitcher-input-background: #101320;
    --elevation-low: none;
    --scrollbar-auto-thumb: #121722;
    --scrollbar-auto-track: #191f2e;
    --scrollbar-thin-thumb: #141925;
    --activity-card-background: #101320;
}
.theme-light {
    --background-primary: #23283d;
    --background-secondary: #1e2233;
    --background-secondary-alt: #191f2e;
    --background-tertiary: #101320;
    --background-accent: #7289da;
    --background-modifier-hover: #262b41;
    --background-modifier-active: #262b41;
    --header-primary: #fff;
    --header-secondary: #b1b5b9;
    --text-normal: #8e9297;
}

.titleBar-1it3bQ.typeWindows-2-g3UY::after {
    content: "";
    position: absolute;
    pointer-events: none;
    background: url('https://discord-theme.pages.dev/assets/wm.png');
    width: 16px;
    height: 16px;
    left: 5px;
    top: 4px;
}
